.blogList {
  /*margin-top: 20px;*/

  .item {
    padding: 20px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    /*border: 1px solid #ccc;*/
    display: flex;
    margin: 20px 0;

    img {
      width: 130px;
      height: 90px;
    }

    .header {
      width: 100%;

      h3 {
        display: inline-block;
        cursor: pointer;
        width: 80%;
      }

      span {
        position: absolute;
        float: right;
        background-color: #ffbb50;
        text-align: center;
        padding: 4px;
        color: #fff;
        font-size: 12px;
        line-height: 1.4;
        font-weight: 400;
        margin: 0 20px 5px 0;
        border-radius: 2px;
        display: inline-block;
        min-width: 60px;
        left: 80%;
      }

      span:hover {
        transition-duration: 0.2s;
        background-color: #9759d0;
      }
    }

    > div {
      margin-left: 20px;
      width: 100%;
      > div {
        position: relative;
      }
      .view {
        text-indent: 2em;
        margin-top: 10px;
        font-size: 14px;
        color: #999;
      }

      .info {
        margin-top: 15px;
        color: #999;

        span {
          margin: 0 5px;
        }
      }
    }
  }

  .item {
    animation: upScale 0.5s;
  }
  .item:nth-child(1) {
    margin-top: 0;
  }

  .item:hover {
    transition-duration: 0.5s;
    background: rgba(22, 192, 248, 0.1);
    border-color: #88d3f9;

    h3 {
      transition-duration: 0.5s;
      font-size: 20px;
      color: #188ae2;
    }

    /*.view {*/
    /*  transition-duration: .5s;*/
    /*  color: #fff;*/
    /*}*/

    img {
      transition-duration: 0.5s;
      transform: scale(1.2);
    }
  }
}
