.home ,.content{
  display: flex;
  margin-top: 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100%;

  .left {
    flex: 3;
    margin-right: 20px;
    width: 70%;

    /deep/ .el-carousel {
      border-radius: 4px;

      .el-carousel__item {
        cursor: pointer;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    flex: 1;

    .control {
      background: #fff;
      position: relative;
      height: 300px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(37, 45, 51, 0.5);

      h3 {
        padding: 20px 0 10px 20px;
        font-size: 16px;
        color: #188ae2;
      }

      .info {
        text-align: center;
        text-indent: 2em;
        font-size: 15px;
        padding: 10px;
        color: #999;
      }

      .contact {
        padding: 20px;
        text-align: center;

        div {
          display: inline-block;
          width: 35px;
          height: 35px;
          line-height: 35px;
          margin: 0 10px;
          border: 1px solid #1f2d3d;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;

          i {
            font-size: 20px;
          }
        }

        .weixin {
          color: #248a34;
          border: 1px solid #248a34;
          position: relative;

          img {
            width: 100px;
            height: 100px;
            position: absolute;
            top: -110px;
            left: 0;
            display: none;
            box-shadow: 0 0 10px rgba(37, 45, 51, 0.5);
          }
        }

        .weixin:hover {
          img {
            display: block;
          }
        }

        .qq {
          color: #4e91d1;
          border: 1px solid #4e91d1;
        }


        .weibo {
          color: #d28300;
          border: 1px solid #d28300;
        }
      }

      .statistics {
        border-top: 1px solid #eee;
        width: 100%;
        display: flex;
        position: absolute;
        height: 60px;
        line-height: 25px;
        bottom: 0;
        left: 0;

        div {
          padding: 5px;
          flex: 1;
          border-left: 1px solid #eee;
          text-align: center;
          font-size: 14px;

          p:nth-child(2) {
            color: #999;
          }
        }

        div:nth-child(1) {
          border: none;
        }
      }
    }
  }
}
